development:
  adapter: sqlite3
  database: db/crisisfilter_development.sqlite3

production:
  adapter: postgresql
  database: crisisfilter
  username: crisisfilter
  password: crisisfilter

test:
  adapter: postgresql
  database: crisisfilter_test
  username: crisisfilter_test
  password: crisisfilter_test

