!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      CrisisFilter.org | Locate Crises | One click could save a life
    %meta{ :name => "generator", :content => "TextMate http://macromates.com/" }
    %meta{ :name => "author", :content => "Ian Silber" }
    %link{ :href => "css/styles.css", :title => "no title", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    /
      Date: 2010-01-18
  %body
    #container
      #header
        %ul#nav
          %li
            %a.selected{ :href => "index.html" }
              Locate Crises
          %li
            %a{ :href => "view.html" }
              View Crises
        %a#logo{ :href => "index.html" }
          %img{ :src => "images/logo.gif", :alt => "CrisisFilter.org - One click could save a life." }
        %h1
          Earthquake victims in Haiti are reaching out for help through social media. Help get
          %strong
            vital situations
          reported to the
          %strong
            right people
          \.
      #content
        .update.first.last.single
          .actions
            %a{ :href => "#" }
              %img{ :src => "images/btn_report_crisis.gif" }
            .notacrisis
              %a{ :href => "#" }
                Not a crisis
          %a.username{ :href => "#" }
            joeblow
          give money to Haiti now! I just donted $100 bucks. You should do the same because it's a great thing to do.
          .timestamp
            Jan 16th, 836pm PST
      #sidebar
        %h2
          Keyboard Shortcuts
        %p
          %img{ :src => "images/keyboard_shortcuts.gif", :alt => "" }
        %h2
          Why this site?
        %p
          This site was built to separate the vital requests for urgent help from the other posts about the term "haiti". The volume of data on this tip is so large thatit takes an army of people to go through it and locate these vital posts.
        %h2
          Links
        %p
          %a{ :href => "#" }
            Donate (Red Cross)
          %br
          %a{ :href => "#" }
            haiti.ushahidi.com
          %br
          %a{ :href => "#" }
            Crisis Maps
          %br
          %a{ :href => "#" }
            RHOK
      #footer
        \&copy; 2010 crisisfilter.org.
        %a{ :href => "#" }
          Sample Link
