- report = report_filter

.update
  .reports_count
    %span.num
      = report.votes
    %br
    = report.votes == 1 ? 'report' : 'reports'
    .handled
      %a{ :href => "./form.html" }
        Mark as handled...
  %a.username{ :href => "#" }
    =h "@#{report.user}"
  =h report.content
  .timestamp
    = report.created_at
