- content_tag_for :tr, report do
  %td
    =h "@#{report.user}"
  %td
    =h report.content
  %td
    = button_to 'Yes', vote_report_path(report), :method => :put
  %td.votes
    = report.votes if report.votes && report.votes > 0
