%h2 Editing report
= render :partial => "form", :locals => {:report => @report}
%ul
  %li= link_to 'Show', @report
  %li= link_to 'Back', reports_path
  %li= link_to 'Destroy', @report, :confirm => 'Are you sure?', :method => :delete  