- @title = 'Locate Crises'

- content_for :header_text do
  Earthquake victims in Haiti are reaching out for help through social media.
  Help get
  %strong
    vital situations
  reported to the
  <strong>right people</strong>.

= render :partial => 'search'
= render :partial => 'report', :collection => @reports
